#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 8.5fr 0.5fr;
    grid-template-areas:
        'header header header'
        'main main main'
        'footer footer footer';
    height: 100%;
}

header {
    grid-area: header;
    background-color: #160627;
    font-size: 35px;
}

main{
    grid-area: main;
    background-color: #1e0f34;
    flex-direction: column;
}

footer{
    grid-area: footer;
    background-color: #160627;
    font-size: 20px;
}