<div id="addContainer" class="flexbox">
    <div id="topBtnContainer" class="flexbox">
        <a class="flexbox btn" id="backBtn">Zurück</a>
    </div>
    <div id="formContainer" class="flexbox">
            <p id="title" class="flexbox">Kontakt hinzufügen</p>
            <input id="inputName" class="inputfield" type="text" placeholder="Name">
            <input id="inputSurname" class="inputfield" type="text" placeholder="Surname">
            <input id="inputPhoneNumber" class="inputfield" type="tel" placeholder="Phone Number">
            <input id="inputEmail" class="inputfield" type="email" placeholder="Email Address">
            <a class="flexbox btn" id="addBtn">Hinzufügen</a>
    </div>
</div>