#addContactBtn{
    height: 55%;
    width: 25%;
    transition: 0.5s;
    border-radius: 0.5em;
    font-size: 35px;
    margin: 5%;
}

@media screen and (max-width: 1250px) {
    #addContactBtn{
        font-size: 25px;
    }
}

@media screen and (max-width: 850px) {
    #addContactBtn{
        width: 50%;
        font-size: 20px;
    }
}